.DS_Store
node_modules/
dist/
build/
*.log
*.tmp
*.cache
caches/
*.env
*.bak
*.swp
*.swo
*.pem
node_modules
dados/
Node-*/data/database/
Node-*/data/caches/
Node-*/data/besu.networks
Node-*/data/besu.ports
tx-test/evidencias/
Node-*/data/
